{% extends "::base.html.twig" %}

{% block title %}AppBundle:Characters:index{% endblock %}

{% block body %}
<h3 class="text-center text-white"><strong>Welcome to the Marvel Universe Favourite Character Portal</strong></h3>
<h3 class="text-center text-white"><em>~ Choose your favourite character ~</em></h3>

    <div class="container text-center ">
        <div class="row">
            {% for row in response|batch(3) %}
                {% for column in row %}
                    <div class="col-4-lg" style="padding: 5px;">
                        <div class="card" style="width: 18rem; height: 50rem; padding: 5px;">
                            <img src="{{ column['thumbnail']['path'] ~ '.' ~ column['thumbnail']['extension'] }}" alt="" class="card-img-top" style="height: 18vw; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ column['name'] }}</strong></h5>
                                <p class="card-text">
                                    {{ column['description'] | default('No description was provided for this character.') }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('setFavourite', {'characterid' : column['id']}) }}" class="btn btn-info">Set as favourite</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row text-white">
            <h5><strong><em>Total Characters Retrieved: {{ totalCharacters }}</em></strong></h5>
        </div>
    </div>
    {# Debug Dump #}
    {#{% if response is defined %}
        <div class="container">
            {{ dump(response) }}
        </div>
    {% endif %}#}
{% endblock %}
